/* Base css styling */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
/* Custom colours */
:root {
  --primary-color: #FB5857;
  --secondary-color: #8B89E6;
  --accent-color: #fac4c4;
  --shadow-color: #97dbf5;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}
