
/* Base css styling */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
/* Custom colours */
:root {
  --primary-color: #fb5857;
  --secondary-color: #8b89e6;
  --accent-color: #fac4c4;
  --shadow-color: #97dbf5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: var(--primary-color);
  color: white;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: var(--secondary-color);
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}
